body {
    font-family: 'Arial', sans-serif;
  }
  
  #game-container {
    text-align: center;
    padding: 20px;
  }
  
  #letter-display {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .letter-button {
    font-size: 24px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
  }
  body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
  }
  
  #game-container {
    border: 20px solid grey;
    background-color: rgba(255, 255, 255, 0.815);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    height: 40%;
  }
  
  #letter-display {
    font-size: 150px;
    margin-bottom: 20px;
  }
  .stella {
    width: 350px;
    margin: 30px;
  }
  .parrafo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    height: 10vh;
    margin-left: 15px;
    position: relative; /* Necesario para la sombra del texto */
    animation: luminoso 1s infinite alternate; /* Aplica la animación */
    gap: 20px;
  }
  
  #correctas,
  #incorrectas {
    margin: 0 20px; /* Ajusta el margen según tus necesidades */
    font-size: 24px; /* Ajusta el tamaño de fuente según tus necesidades */
    animation: luminoso 1s infinite alternate; /* Aplica la animación */
  }
  
  @keyframes luminoso {
    from {
      box-shadow: 0 0 10px rgba(0, 255, 0, 0.7); /* Sombra verde al inicio */
    }
    to {
      box-shadow: 0 0 20px rgba(0, 255, 0, 1); /* Sombra más intensa al final */
    }
  }
  .contenedorjuego {
    display: flex;
    width: 100%;
  }

  #inputOculto {
    display: none;
  }






  @media screen and (max-width: 870px) {
    .contenedorjuego {
      flex-direction: column;
      align-items: center; /* Otra propiedad útil para centrar elementos en el eje transversal */
    }
    .parrafo {
      margin-left: 0px;
      margin-top: 10px;
    }
  }
  @media screen and (max-width: 990px) {
    #inputOculto {
      display: block;
    }
  }